.NodeWrapper {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NodeInnerWrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: currentColor;
    border-radius: 2px;
    background-color: var(--color-white);
    box-shadow: var(--elevation-z1);
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.EmptyNodeInnerWrapper {
    width: 1px;
    height: 1px;
    background-color: var(--edges-stroke-color);
}

.NodeContent {
    display: flex;
    flex-direction: column;
}

.NodeIcon {
    font-size: 18px;
    padding: 4px;
}

.NodeTitle {
    color: var(--color-base900);
    font-size: 14px;
    text-transform: uppercase;
}

.NodeDesc {
    color: var(--color-base700);
    font-size: 12px;
}

#flowbuilder-container {
    width: 100%;
    height: calc(100vh - 75px); /* Navbar 높이를 제외한 전체 높이 */
    background-color: white;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
}